:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  justify-content: center; /* Asegura que los elementos se centren horizontalmente */
  align-items: center; /* Asegura que los elementos se centren verticalmente */
  min-width: 320px;
  min-height: 100vh;
  height: 100%; /* Asegura que el body ocupe toda la altura del viewport */
  background-color: #e9c5e8;
}

